@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}


aside {
    margin: 40px 0 0 50px;
    width: 280px;
    height: 800px;
    background-color: #001F6A;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-box {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    align-items: center;
    transition: 0.2s ease;
    padding: 10px;

}

.profile-box:hover {
    width: 330px;
    height: 120px;
}
.box {
    width: 100px;
    height: 80px;
    border-radius: 200px;
    background-color: #FFFFFF;
}

.profile-teacher {
    height: 80px;
    width: 100px;
}

h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.code {
    position: absolute;
    left: 170px;
    top: 130px;
    color: #FFFFFF;
}

div {
    height: 200px;
    width: 220px;
    background-color: #FCA501;
}


.menu-box {
    width: 300px;
    height: 60px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    gap: 10px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: width 0.3s ease; 
}

.menu-box:hover {
    width: 350px;
}


.logout-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
    height: 30px;
    background-color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    gap: 5px;
    padding: 25px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: #000;
}